<h5>Locations</h5>
<div class="clearfix"></div>
<a href="/Locations/Add/" class="btn btn-success">Creat</a>
<div>
    <table class="table table-striped" ng-table="tableParams">
        <thead>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td></td>
            </tr>
        </thead>
        <tr ng-repeat="location in $data">
            <td >
              {{location.Name}}
            </td>
            <td >
                {{location.Description}}
            </td>
            <td style="width: 4%;">
                <a href="/Locations/Detail/{{location.Id}}" class="btn btn-success"><i class="fa fa-eye"></i> Detail</a>
            </td>
            <td style="width: 4%;">
                <a href="/Locations/Edit/{{location.Id}}" class="btn btn-success"><i class="fa fa-pencil"></i> Edit</a>
            </td>
              <td style="width: 4%;">
                <a href="/Locations/Edit/{{location.Id}}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
        <tr ng-hide="$data">
            <td colspan="4" >There are no locations</td>
        </tr>
    </table>
    <div style="float: right;" >
        <a class="" href="#">Create new</a>
    </div>
</div>

